{% extends "::main.html.twig" %}
{% block content %}
    <!-- start Main Wrapper -->
    <div class="main-wrapper">

        <!-- start end Page title -->
        <div class="page-title" style="background-image:url('/bundles/projectadmin/front/images/hero-header/breadcrumb.jpg');">



        </div>
        <!-- end Page title -->

        <div class="content-wrapper">
            <div class="section pt-60 pb-0">

                <div class="container">
                    {% if productCount >2 %}
                        <div class="row">

                        <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

                            <div class="section-title">

                                <h5>Your current plan allows only maximum of three items to be upload. Upgrade to Premium for unlimited access.<br/> <hr><a class="btn btn-primary">Upgrade Now!</a> </h5>

                            </div>

                        </div>

                    </div>
                    {% else %}
                        <div class="row">

                        <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

                            <div class="section-title">

                                <h3>Add Product</h3>

                            </div>

                        </div>

                    </div>

                    <form method="POST" class="contact-form-wrapper" {{ form_enctype(form) }}>

                        <div class="row">

                            <div class="col-sm-4">

                            {#{% if not user.path %}
                                <img class="img-thumbnail img-responsive" src="{{asset('uploads/images/default.png')}}" style="width: 150px; height: 150px" />
                            {% else %}
                                <img class="img-thumbnail img-responsive" src="{{asset('uploads/images/'~user.path)}}" style="width: 150px; height: 150px" />
                            {% endif %}#}

                            </div>

                            <div class="col-sm-8">

                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">Name </label>
                                            {{form_widget(form.name,{"attr":{"class":"form-control"}})}}
                                        </div>
                                         <div class="form-group">
                                            <label for="">Description </label>
                                            {{form_widget(form.description,{"attr":{"class":"form-control"}})}}
                                        </div>
                                        <div class="form-group">
                                            <label for="">Price </label>
                                            {{form_widget(form.price,{"attr":{"class":"form-control"}})}}
                                        </div>
                                        {{form_rest(form)}}
                                        <button type="submit" class="btn btn-primary mt-5">Save</button>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </form>
                    {% endif %}
                    

                </div>

            </div>

        </div>


    </div>
 
{% endblock %}
